@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .max-w-custom {
        max-width: 750px;
    }
}

body {
    background-color: #fafafa;
}

html {
    scroll-behavior: smooth;
}