@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply bg-slate-50 text-slate-800;
    }
}

@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom, 0px);
    }
}

@media print {
    .avoid-page-break {
        page-break-inside: avoid;
    }

    .no-print {
        display: none !important;
    }

    button,
    select,
    footer,
    nav {
        display: none !important;
    }

    body {
        background: white;
    }
}
