@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .max-w-custom {
        max-width: 750px;
    }
}

body {
    background-color: #fafafa;
}

html {
    scroll-behavior: smooth;
}

@media print {
    .avoid-page-break {
        page-break-inside: avoid;
    }

    .title {
        display: none;
    }

    button {
        display: none;
    }

    select {
        display: none;
    }

    footer {
        display: none;
    }
}